<div class="create-page">
        <div>
            <h1>Login</h1>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col col-md-8">
        
                    <form class="create-form" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm)">    
                        <div class="form-group">
                            <mat-form-field class="input-style">
                                <input placeholder="Email" class="form-control" formControlName="email">
                            </mat-form-field>
                            <ng-container *ngFor="let validation of validation_messages.email">
                                <mat-error *ngIf="loginForm.get('email').hasError('required') && formSubmitted">{{validation.message}}</mat-error>
                            </ng-container>
                        </div>
    
                        <div class="form-group">
                            <mat-form-field class="input-style">
                                <input placeholder="Password" class="form-control" formControlName="password" type="password">
                            </mat-form-field>
                            <ng-container *ngFor="let validation of validation_messages.password">
                                <mat-error *ngIf="loginForm.get('password').hasError('required') && formSubmitted">{{validation.message}}</mat-error>
                            </ng-container>
                        </div>
                        <span class="invalid-feedback" *ngIf="!correctDetails && formSubmitted">Email or password is incorrect</span>    
                        <div class="row submit-button-container">
                            <div class="col-md-4">
                                <button mat-raised-button class="submit-button" color="primary" type="submit">Login</button>
                            </div>
                            <div class="col-md-4">
                                <button mat-raised-button class="submit-button" color="primary" type="button"  [routerLink]="['/register']" routerLinkActive="router-link-active">Register</button>
                            </div>
                        </div>
            
                    </form>
                </div>
            </div>
        </div>
      </div>
      